body {
    text-align: center;
    height: 100%;
}

.header {
    font-family: 'Faster One', cursive;
    font-size: 40px;
}

.instructions {
    font-family: 'The Girl Next Door', cursive;
    font-size: 20px;
}

.chars {
    margin: -70px 0;
    cursor: pointer;
}

.padding {
    padding: 0 40px;
    font-family: 'Staatliches', cursive;
}

.disappear {
    display: none;
}

.button {
    font-family: 'Bungee Inline', cursive;
    font-size: 15px;
    background-color: lime;
    border: .1rem solid;
    letter-spacing: .25rem;
    width: 14rem;
    height: 4rem;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    transform: scale(1.1);
    background-color: orange;
}

.button:after {
    content: 'CLICK TO START';
}

.button:hover:after {
    content: 'GOOD LUCK!';
}
