body {
    text-align: center;
}

.header {
    font-family: 'Faster One', cursive;
}

.instructions {
    font-family: 'Rock Salt', cursive;
}

.chars {
    margin: -70px 0;
    cursor: pointer;
}

.padding {
    padding: 0 40px;
}

.disappear {
    display: none;
}

.button {
    font-family: 'Rock Salt', cursive;
    text-transform: uppercase;
    background-color: lime;
    border: .1rem solid;
    letter-spacing: .25rem;
    width: 12rem;
    height: 2rem;
    border-radius: .5rem;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    background-color: orange;
}
